* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}
@media (min-width: 480px) {
    .show-sm {
        display: initial;
    }
    .w-50-sm {
        width: 50%;
    }
    .w-100-sm {
        width: 100%;
    }
    .w-33-sm {
        width: 33%;
    }
}
/* tablets */
.burger-menu {
    display: none;
}

.product-content .text-desc {
    display: initial;
}

.product {
    width: 50%;
}
.product {
    width: 25%;
}

.text-center {
    text-align: center;
}

.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}

.padding-16 {
    padding: 16px;
}

.padding-8 {
    padding: 8px;
}

.flex {
    display: flex !important;
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}
.no-wrap {
    flex-wrap: nowrap;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.hide {
    display: none;
}

.align-center {
    align-items: center;
}

.searchbar input,
.searchbar button {
    background-color: white;
    border: none;
    height: 30px;
}
.searchbar {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#ml-main-nav ul {
    list-style-type: none;
    padding-left: 0;
}

#ml-main-nav a {
    text-decoration: none;
    color: black;
}

.burger-menu {
    text-align: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 5px;
}

.banner {
    display: block;
    width: 100%;
}

#main-content {
    padding: 0 5%;
}

.product {
    padding: 15px;
}

.product-wrapper {
    border: 1px solid #ebebeb;
}

.product-content .text-desc {
    display: none;
}

.product-content {
    border-top: 1px solid #ebebeb;
    position: relative;
}

.product-delivery-icon {
    font-size: 16px;
    padding: 5px;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.text-discount {
    padding-left: 10px;
    align-self: center;
}

.form-input .main-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.form-input input {
    width: 100%;
}
.form-input input[type="checkbox"],
.form-input input[type="radio"] {
    width: auto;
}

.form-input {
    margin-bottom: 23px;
}

.error {
    margin-top: 0;
    margin-bottom: 0;
    color: red;
    font-size: 10px;
}
/* Fonts & Texts ====================  */

body {
    font-family: "Roboto";
    font-size: 12px;
}

.text-title {
    font-size: 24px;
}

.text-price {
    font-size: 18px;
}

.text-discount {
    font-size: 16px;
}

.text-desc {
    font-size: 16px;
}

/* Colors ====================  */

.ml-yellow-text {
    color: #eac926;
}
.ml-blue-text {
    color: #03264c;
}
.ml-lb-text {
    color: #1259c3;
}
.ml-dark-text {
    color: #666;
}
.ml-light-text {
    color: #ebebeb;
}
.ml-green-text {
    color: #39b54a;
}

.ml-yellow-bg {
    background-color: #eac926;
}
.ml-blue-bg {
    background-color: #03264c;
}
.ml-lb-bg {
    background-color: #1259c3;
}
.ml-dark-bg {
    background-color: #666;
}
.ml-light-bg {
    background-color: #ebebeb;
}
.ml-green-bg {
    background-color: #39b54a;
}
